<h1>Vous souhiatez enregistrer une nouvelle Plage</h1>

<%= render 'form' %>

 
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

 <%= link_to 'Retour', locations_path %>
